.ServicesMiddle-Container{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 5vh 0px;
    /* border: 2px solid blanchedalmond; */
}
