@media only screen and (min-width: 780px) {
  .Footer-Container {
    position: relative;
    width: 100%;
    min-height: 10vh;
    background-color: #082032;
    color: white;
  }
  .Footer-Container .FooterContext {
    position: relative;
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  }
  .FooterContext .leftContext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vh;
    /* border: 2px solid red; */
    font-size: 20px;
    /* font-weight: bold; */
  }
  .FooterContext .leftContext h3 span {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.774);
  }
  .FooterContext .leftContext .footerLink {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  .FooterContext .rightContext {
    color: white;
    position: relative;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    width: 20vh;
    padding: 20px 0px;
  }
  .FooterContext .rightContext img:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 780px) {
  .Footer-Container {
    position: relative;
    width: 100%;
    min-height: 10vh;
    background-color: #082032;
    color: white;
  }
  .Footer-Container .FooterContext {
    position: relative;
    margin: auto;
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
  }
  .FooterContext .leftContext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50vh;
    /* border: 2px solid red; */
    font-size: 20px;
    /* font-weight: bold; */
  }
  .FooterContext .leftContext h3 span {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.774);
  }
  .FooterContext .leftContext .footerLink {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  .FooterContext .rightContext {
    color: white;
    position: relative;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
    width: 20vh;
    padding: 20px 0px;
  }
  .FooterContext .rightContext img:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 480px) {
  .FooterContext .rightContext {
    width: 100%;
    justify-content: center;
  }
  .FooterContext .rightContext img {
    margin: 0px 10px;
  }
}
